.postsWrapper {
    max-width: 825px;
    margin: 0 auto;
}

.postItem {
    margin: 0 auto;
    background-color: white;
    width: 80%;
}

.postsContainer {
    background: whitesmoke;
    border-radius: 10px;
    padding: 25px 10px 45px;
    min-width: 32em;
    margin: 0 auto;
    max-width: 1800px;
}

.textWrapper {
    padding: 10px;
    margin: 30px;
}

.postText {
    color: black;
}

a {
    text-decoration: none;
}

.paperContainer {
    width: 80%;

}